<?xml version="1.0" encoding="UTF-8"?>
<library>
    <item>
        <name>FRAMEWORK</name>
        <string>JArD</string>
    </item>
    <item>
        <name>SITENAME</name>
        <string>Ziotic</string>
    </item>
    <item>
        <name>MYSQL_HOST</name>
        <string>localhost</string>
    </item>
    <item>
        <name>MYSQL_USER</name>
        <string>root</string>
        <protect>true</protect>
    </item>
    <item>
        <name>MYSQL_PASS</name>
        <string></string>
        <protect>true</protect>
    </item>
    <item>
        <name>MYSQL_DB</name>
        <string>ziotic</string>
        <protect>true</protect>
    </item>
    <item>
        <name>MYSQL_PREFIX</name>
        <string>z_</string>
        <protect>true</protect>
    </item>
    <item>
        <name>LANG</name>
        <string>en</string>
    </item>
    <item>
        <name>DEBUG_MODE</name>
        <string>false</string>
    </item>
    <item>
        <name>LOCKDOWN_MODE</name>
        <string>false</string>
    </item>
    <item>
        <name>VERSION</name>
        <string>0.1</string>
    </item>
</library>